<div xmlns:th="http://www.thymeleaf.org" th:fragment="formulario-oferta(txtBoton)" th:with="deshabilitarClave = ${deshabilitarClave} ?: false, foco = ${foco} ?: 'id'">
    <form method="post" th:object="${ofertaTrabajo}" class="form-crud">
        <div>
            <h1 class="title-form" th:text="${txtBoton} + ' oferta'"></h1>
        </div>
        <div>
            <label for="id">Número</label>
            <input type="text" th:field="*{id}" class="input-text" th:disabled="${deshabilitarClave}">
            <p th:errors="*{id}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="fechaApertura">Fecha Apertura</label>
            <input type="text" th:field="*{fechaApertura}" class="input-text">
            <p th:errors="*{fechaApertura}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="area.nombre">Area</label>
            <select th:field="{area.nombre}">
                <option value="" selected>Selec. un área</option>
                <option th:each="a : ${area}" th:value="${a.nombre}" th:text="${a.nombre}"></option>
            </select>
            <p th:errors="*{area.nombre}" style="color: red; font-size: 12px;"></p>
        </div>         
        <div>
            <label for="titulo">Título</label>
            <input type="text" th:field="*{titulo}" class="input-text">
            <p th:errors="*{titulo}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="descripcion">Descripción</label>
            <textarea th:field="*{descripcion}" name="" id=""></textarea>
            <p th:errors="*{descripcion}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="puestosVacantes">Puestos vacantes</label>
            <input type="number" th:field="*{puestosVacantes}" class="input-text">
            <p th:errors="*{puestosVacantes}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="fechaCierre">Fecha de finalización</label>
            <input type="date" th:field="*{fechaCierre}" class="input-text">
            <p th:errors="*{fechaCierre}" style="color: red; font-size: 12px;"></p>
        </div> 
        <div>
            <input type="submit" th:value="${txtBoton}" class="input-button">
            <a th:href="@{/ofertasTrabajo}" class="cancelar-button">Cancelar</a>
        </div>
    </form>

    <script th:inline="javascript">
        document.getElementById([[${foco}]]).focus();
        document.getElementById([[${foco}]]).select();
    </script>
</div>