<div xmlns:th="http://www.thymeleaf.org" th:fragment="formulario-cliente(txtBoton)" th:with="deshabilitarClave = ${deshabilitarClave} ?: false, foco = ${foco} ?: 'nombreUsuario'">
    <form method="post" th:object="${cliente}" class="formCrud">
        <div>
            <h1 class="title-form" th:text="${txtBoton} + ' cliente'"></h1>
        </div>
        <div>
            <label for="nombreUsuario">Usuario</label>
            <input type="text" th:field="*{nombreUsuario}" th:disabled="${deshabilitarClave}" class="input-text" readonly>
            <p th:errors="*{nombreUsuario}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="contrasena">Contraseña</label>
            <input type="text" th:field="*{contrasena}" class="input-text">
            <p th:errors="*{contrasena}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="rut">RUT</label>
            <input type="text" th:field="*{rut}" class="input-text">
            <p th:errors="*{rut}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" class="input-text">
            <p th:errors="*{nombre}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="url">Url</label>
            <input type="url" th:field="*{url}" class="input-text">
            <p th:errors="*{url}" style="color: red; font-size: 12px;"></p>
        </div>        
        <div>
            <input type="submit" th:value="${txtBoton}" class="input-button">
        </div>
    </form>

    <script th:inline="javascript">
        document.getElementById([[${foco}]]).focus();
        document.getElementById([[${foco}]]).select();
    </script>
</div>
