<div xmlns:th="http://www.thymeleaf.org" th:fragment="formulario-postulante(txtBoton)" th:with="deshabilitarClave = ${deshabilitarClave} ?: false, foco = ${foco} ?: 'id'">
    <form  method="post" enctype="multipart/form-data" th:object="${postulante}" class="form-crud">
        <div>
            <h1 class="title-form" th:text="${txtBoton} + ' postulante'"></h1>
        </div>
        <div>
            <label for="nombreUsuario">Usuario</label>
            <input type="text" th:field="*{nombreUsuario}" th:disabled="${deshabilitarClave}" class="input-text">
            <p th:errors="*{nombreUsuario}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="contrasena">Contraseña</label>
            <input type="text" th:field="*{contrasena}" class="input-text">
            <p th:errors="*{contrasena}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="cedula">Cédula</label>
            <input type="text" th:field="*{cedula}" class="input-text">
        </div>
        <div>
            <label for="nombreCompleto">Nombre</label>
            <input type="text" th:field="*{nombreCompleto}" class="input-text">
            <p th:errors="*{nombreCompleto}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" th:field="*{fechaNacimiento}" class="input-text">
            <p th:errors="*{fechaNacimiento}" style="color: red; font-size: 12px;"></p>
        </div> 
        <div>
            <label for="departamento">Departamento</label>
            <input type="text" th:field="*{departamento}" class="input-text">
            <p th:errors="*{departamento}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto" accept="image/*" class="input-text">
            <p th:errors="*{foto}" style="color: red; font-size: 12px;"></p>
        </div> 
        <div>
            <label for="curriculum">Curriculum</label>
            <input type="file" th:field="*{curriculum}" class="input-text">
            <p th:errors="*{curriculum}" style="color: red; font-size: 12px;"></p>
        </div>  
        <div>
            <input type="submit" th:value="${txtBoton}" class="input-button">
            <a th:href="@{/postulantes}" class="cancelar-button">Cancelar</a>
        </div>
    </form>

    <script th:inline="javascript">
        document.getElementById([[${foco}]]).focus();
        document.getElementById([[${foco}]]).select();
    </script>
</div>