<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas</title>
</head>
<body th:remove="tag">
    <h1>Área</h1>

    <th:block th:if="${area}">
        <h2 th:text="${area.nombre}"></h2>
        <ul>
            <li><strong>Id:</strong><span th:text="${area.id}"></span></li>
            <li><strong>Nombre:</strong><span th:text="${area.nombre}"></span></li>
        </ul>
    </th:block>
        
    <p th:replace="~{fragmentos/mensaje}"></p>
</body>
</html>