<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas</title>
</head>
<body th:remove="tag">
    <th:block th:if="${area}">        
        <form method="post" class="form-crud form-eliminar">  
            <div>
                <h1 class="title-form">Eliminar área</h1>
            </div>
            <div>
                <p>Está seguro que desea eliminar el área <strong th:text="${area.nombre}"></strong>?</p>
            </div>    
            <div>
                <input type="submit" value="Eliminar" class="input-button">
                <a th:href="@{/areas}" class="cancelar-button">Cancelar</a>
            </div>
        </form>    
    </th:block>   
    <p th:replace="~{fragmentos/mensaje}"></p>
</body>
</html>