<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas</title>
</head>
<body th:remove="tag">
    <!--<form th:action="@{/areas/modificar}" method="post" th:object="${area}" class="formCrud">
        <div>
            <h1 class="title-form">Modificar área</h1>
        </div>-->
        <th:block th:if="${area}">
            <div th:replace="~{fragmentos/formulario-area(txtBoton = 'Modificar', deshabilitarClave = true, foco = 'nombre')}"></div>
        </th:block>
    <!--</form>-->

    <p th:if="${mensaje}" th:utext="${mensaje}"></p>
</body>
</html>