<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultores</title>
</head>
<body th:remove="tag">
    <h1>Consultor</h1>

    <th:block th:if="${usuario}">
        <h2 th:text="${usuario.nombreUsuario}"></h2>
        <ul>
            <li><strong>Usuario:</strong><span th:text="${usuario.nombreUsuario}"></span></li>
            <li><strong>Contraseña:</strong><span th:text="${usuario.contrasena}"></span></li>
        </ul>
    </th:block>
        
    <p th:if="${mensaje}" th:utext="${mensaje}"></p>
</body>
</html>