<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultores</title>
</head>
<body th:remove="tag">
    <h1 class="title-form">Consultor</h1>

    <th:block th:if="${consultor}">
        <h2 th:text="${consultor.nombreUsuario}" class="title-form"></h2>
        <ul>
            <li><strong>Usuario:</strong><span th:text="${consultor.nombreUsuario}"></span></li>
            <li><strong>Contraseña:</strong><span th:text="${consultor.contrasena}"></span></li>
        </ul>
    </th:block>
    <div>
        &nbsp; 
    </div>
    <div>
       &nbsp;&nbsp;<a th:href="@{/consultores}" class="cancelar-button">Volver</a>
    </div>
        
    <p th:replace="~{fragmentos/mensaje}"></p>
</body>
</html>