<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultores</title>
</head>
<body th:remove="tag">
    <form th:action="@{/consultores/modificar}" method="post" th:object="${consultor}" class="formCrud">
        <div>
            <h1 class="title-form">Modificar consultor</h1>
        </div>
        <div>
            <label for="nombreUsuario">Usuario</label>
            <input type="text" th:field="*{nombreUsuario}" class="input-text" readonly>
            <p th:errors="*{nombreUsuario}" style="color: red; font-size: 12px;"></p>
        </div>
        <div>
            <label for="contrasena">Contraseña</label>
            <input type="text" th:field="*{contrasena}" class="input-text">
            <p th:errors="*{contrasena}" style="color: red; font-size: 12px;"></p>
        </div>                
        <div>
            <input type="submit" value="Modificar" class="input-button">
        </div>
    </form>

    <p th:if="${mensaje}" th:utext="${mensaje}"></p>
</body>
</html>