<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-consultores::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body th:remove="tag">
    <h1 class="title-form listados">Clientes</h1>
    <form id="busqueda" class="listados">
        <div>
            <input type="search" name="filtro" th:value="${param.filtro}" id="filtro" placeholder="nombre de usuario"> <input type="submit" value="Buscar" class="input-button">
        </div>
    </form>
    <p><a th:href="@{/clientes/ingresar}" title="Ingresar"><i class="icono icono-ingresar listados"></i></a></p>
    <table th:unless="${clientes.empty}" class="listados listado-table">
        <tr>
            <th>Usuario</th>
            <th>RUT</th>
            <th>Nombre</th>
        </tr>
        <tr th:each="c : ${clientes}">
            <td th:text="${c.nombreUsuario}"></td>
            <td th:text="${c.rut}"></td>
            <td th:text="${c.nombre}"></td>
            <td>
                <a th:href="@{/clientes/{nombreUsuario}(nombreUsuario=${c.nombreUsuario})}" title="Ver Detalle"><i class="icono icono-detalle"></i></a>&nbsp;&nbsp;
                <a th:href="@{/clientes/modificar(nombreUsuario=${c.nombreUsuario})}" title="Modificar"><i class="icono icono-editar"></i></a>&nbsp;&nbsp;
                <a th:href="@{/clientes/eliminar(nombreUsuario=${c.nombreUsuario})}" title="Eliminar"><i class="icono icono-eliminar"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="paginacion">
                <a th:unless="${clientes.first}" th:href="@{/clientes(filtro=${param.filtro}, orden=${param.orden} ?: 'nombreUsuario,asc', pagina = ${clientes.number} - 1, tamanoPagina = ${param.tamanoPagina})}">&lsaquo; anterior</a>
                <span th:unless="${clientes.first} or ${clientes.last}"> | </span>
                <a th:unless="${clientes.last}" th:href="@{/clientes(filtro=${param.filtro}, orden=${param.orden} ?: 'nombreUsuario,asc', pagina = ${clientes.number} + 1, tamanoPagina = ${param.tamanoPagina})}">siguiente &rsaquo; </a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Cantidad de clientes: <span th:text="${clientes.numberOfElements}"></span> de <span th:text="${clientes.totalElements}"></span>
            </td>
        </tr>
    </table>
    <p th:if="${clientes.empty}" style="padding: 10px;">No se encontraron datos</p>
    <p th:replace="~{fragmentos/mensaje}"></p>

    <script>
        document.getElementById('busqueda').addEventListener('search', function() {
            document.getElementById('busqueda').submit();
        });

        document.getElementById('filtro').focus();
        document.getElementById('filtro').select();
    </script>
</body>
</html>