body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
 
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/
 
header.logo-bioswork {
    height: 100px;
    padding: 20px;
    background-color: rgb(146, 220, 243);
    background-image: url(/imagenes/logo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
 
header.logo-bioswork h1 {
    margin: 0;
    font-size: 3em;
    line-height: 100px;
}
 
nav.menu-principal {
    height: 40px;
    position: sticky;
    top: 0;
    background-color: rgb(105, 163, 180);
}
 
nav.menu-principal > * {
    float: right;
}
 
nav.menu-principal > *:first-child {
    float: left;
}
 
nav.menu-principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 
nav.menu-principal ul li {
    position: relative;
    display: block;
    float: left;
    white-space: nowrap;
}
 
nav.menu-principal li a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
 
nav.menu-principal li:hover a {
    background-color: rgb(74, 114, 126);
    transition: background-color .33s;
}

 
main.contenido {
    margin: 20px;
    color: rgb(3, 67, 110);
}
 

form div {
    margin-top: 1.5em;
}

label {
    font-weight: bold;
}




/*.error {
    border: 2px solid red;  
}*/


/* #### Formularios #### */

.title-form {
    display: flex;
    /*justify-content: center;*/
    color: rgb(0, 113, 188);
}

.form-crud {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    position: relative;
    top: 15px;
    left: 15px;
    width: 280px;
    padding: 18px;
    border-radius: 5%;
    box-shadow: 4px 4px rgba(128, 108, 23, .4);
    background-color: white;
}

.form-eliminar {
    width: 370px;
    text-align: center;
}

.form-eliminar h1 {
    justify-content: center;
}

label:first-child {
    font-weight: normal;
    display: block;
    margin-bottom: .25em;
    color: rgb(0, 113, 188);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 7px;
}


.input-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    border: 1px solid #cac6c6;    
    padding: 8px 12px;
    border-radius: 5px;
}

.input-button {
    background-color: rgb(0, 106, 177);
    color: white;
    padding: 9px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-button[value=Buscar] {
    padding: 3px 12px;
}

input[type=search] {
    padding: 3px;
}

i.icono {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    vertical-align: middle;
}

i.icono-ingresar {
    background-image: url("../iconos/ingresar.png");
}

i.icono-detalle {
    background-image: url("../iconos/detalle.png");
}

i.icono-editar {
    background-image: url("../iconos/editar.png");
}

i.icono-eliminar {
    background-image: url("../iconos/eliminar.png");
}

.cancelar-button {
    background-color: rgb(225, 224, 224);
    color: rgb(35, 102, 156);
    padding: 11px 18px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}



/* ### Tablas ### */

/*.listado-table{
    position: relative;
    float: right;
    top: 76px;
    right: 20px;    
    width: 80%;   
    border-collapse: collapse;
    margin-top: 10px;
    z-index: -1;
}*/

.listados {
    /*position: absolute;
    
    left: 50%; 
    transform: translate(-50%,-0%);  */
    position: relative;
    top: 15px;
    left: 15px;
    /*width: 50%;  */ 
    border-collapse: collapse;
    margin-top: 10px;
    color: rgb(3, 67, 110);
}

.listado-table {
    border-radius: 5%;
    box-shadow: 4px 4px rgba(128, 108, 23, .4);
}


.listado-table th{
    position: sticky;
    top: 87px;
    background-color: rgb(35, 102, 156);
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.listado-table td {
    text-align: center;
    padding: 10px 10px;
}

.paginacion {
    text-align: left;   
}

.paginacion a {
    text-decoration: none;
    color: rgb(3, 67, 110);
    font-weight: bold;
}

