<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-clientes::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta de Trabajo</title>
</head>
<body th:remove="tag">
    <h1>Oferta de Trabajo</h1>

    <th:block th:if="${ofertaTrabajo}">
        <h2 th:text="${ofertaTrabajo.id} - ${ofertaTrabajo.titulo}"></h2>
        <ul>
            <li><strong>Id:</strong><span th:text="${ofertaTrabajo.id}"></span></li>
            <li><strong>Título:</strong><span th:text="${ofertaTrabajo.titulo}"></span></li>
            <li><strong>Fecha de publicación:</strong><span th:text="${ofertaTrabajo.fechaPublicacion}"></span></li>
            <li><strong>Fecha de cierre:</strong><span th:text="${ofertaTrabajo.fechaCierre}"></span></li>
            <li><strong>Área:</strong><span th:text="${ofertaTrabajo.area.nombre}"></span></li>
            <li><strong>Descripción:</strong><span th:text="${ofertaTrabajo.descripcion}"></span></li>
            <li><strong>Puestos vacantes:</strong><span th:text="${ofertaTrabajo.puestosVacantes}"></span></li>
        </ul>
    </th:block>
        
    <p th:replace="~{fragmentos/mensaje}"></p>
</body>
</html>