<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra-clientes::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de trabajo</title>
</head>
<body th:remove="tag">
    <h1>Eliminar oferta</h1>
    <th:block th:if="${ofertaTrabajo}">
        <p>Está seguro que desea eliminar la oferta número <strong th:text="${ofertaTrabajo.id}"></strong>(<strong th:text="${ofertaTrabajo.titulo}"></strong>)?</p>
        <form method="post" class="formCrud">      
            <div>
                <input type="submit" value="Eliminar" class="input-button">
            </div>
        </form>    
    </th:block>   
    <p th:replace="~{fragmentos/mensaje}"></p>
</body>
</html>